.heading{
    font-weight: 600;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ex{
    width: auto;
}
@media screen and (max-width:525px) {
    .ex{
        width: 92vw;
    }
    .heading{
        flex-direction: column-reverse;
        height: fit-content;
        justify-content: center;
    }
    #h-img{
        width: 390px;
    }

}