.heading{
    font-weight: 600;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading a{
    list-style-type: none;
    font-size: 30px;
    color:#6344ff;
    background-color: transparent;
    cursor: pointer;
}
.heading a:hover{
    scale: 1.05;
    color:#6344ffdd;
}
#name{
    font-size: 80px;
    color: transparent;
    background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
    -webkit-background-clip: text;
    background-clip: text;
}
#pro{
    margin-top: 5px;
    display: block;
    font-size: 30px;
    color: transparent;
    background-image: linear-gradient(180deg, #b9b6ff, #6344ff);
    -webkit-background-clip: text;
    background-clip: text;
}
#des{
    margin-top: 20px;
color: #aba8f9;
font-size: 18px;
}
#hash{
    margin-top: 10px;
    color: #6344ff;
    font-size: 20px;

}
.ex{
    padding: 0;
}
#h-img{
    width: 600;
}
@media screen and (max-width:525px) {
    .ex{
        padding: 0 6vw;
    }
    .heading{
        flex-direction: column-reverse;
        height: fit-content;
        justify-content: center;
    }
    #h-img{
        width: 390px;
    }
    #name{
        font-size: 60px;
    }
}