nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav ul{
    display: flex;
}
nav ul a{
    color: #ffb6ff;
    text-decoration: none;
    padding: 25px 30px;
    font-size: 1rem;
    cursor: pointer;
}
@media screen and (max-width:525px) {

    nav{
        justify-content: center;
    }
nav ul a{
    padding: 20px 15px;
    }
}