#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.project-container {
  float: left;
  width: 82vw;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex {
  display: flex;
}
.projects {
  width: 50vw;
  /* display: flex;
    flex-direction: column; */
  /* background-color: #6344ff; */
  padding: 4vw;
}
.projects img {
  border-radius: 5px;
}
.mar {
  margin-top: -15vh;
  float: right;
}
.description {
  background: transparent;
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description h1 {
  margin: 10px 0 30px 0;
}
.description li {
  padding: 2px 0;
}
/* .description h2 {
  margin-top: 5px;
} */
.card-container {
  display: flex;
  margin: 6vh;
}
.a {
  background: transparent;
  text-decoration: none;
  float: right;
  margin-right: 5vw;
  margin-top: 10px;
}
.a :hover {
  scale: 1.02;
}

.p-img{
  width: 500px;
}
.fl{
 flex-direction: row-reverse;
  margin-left: 4vw 
}
@media screen and (max-width:525px) {
    #project{
        height: fit-content;
    }
    .project-container{
      width: 100%;
    }
    .p-img{
      width: 300px;
    }
    .projects{
      width: auto;
    }
    .flex{
      flex-direction: column;
    }
    .description{
      margin: 3vh 0 3vh 4vw;
    }
    .a{
      font-size: 20px;
    }
}
